{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block main %}
    <article class="contents-catch privacy"><!-- ページによってclassを変更 -->
        <section>
            <div>
                <h2>レンタル予定商品（カート）<!-- 車体名 --></h2>
            </div>
        </section>
    </article>

    <div id="cart" class="container-fluid">
        <div id="cart_box" class="row">
            <div id="cart_box__body" class="col-md-10 col-md-offset-1">
                <article class="wrap">
                    <section class="steps">
                        <ul>
                            <li class="active"><div><span>1.商品の確認</span></div></li>
                            {% if is_granted('ROLE_USER') %}
                                <li><div><span>2.ご注文内容の確認</span></div></li>
                                <li><div><span>3.完了</span></div></li>
                            {% else %}
                                <li><div><span>2.お客様情報</span></div></li>
                                <li><div><span>3.ご注文内容の確認</span></div></li>
                                <li><div><span>4.完了</span></div></li>
                            {% endif %}
                        </ul>
                    </section>
                </article>

                {% set productStr = app.session.flashbag.get('eccube.front.request.product') %}
                {% for error in app.session.flashbag.get('eccube.front.request.error')  %}
                    {% set idx = loop.index0 %}
                    {% if productStr[idx] is defined %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>
                            {{ error|trans({'%product%':productStr[idx]})|nl2br }}
                        </p>
                    </div>
                    {% else %}
                    <div id="cart_box__message--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for error in app.session.flashbag.get('eccube.front.cart.error')  %}
                    <div id="cart_box__message_error--{{ loop.index }}" class="message">
                        <p class="errormsg bg-danger">
                            <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>{{ error|trans|nl2br }}
                        </p>
                    </div>
                {% endfor %}

                {% if Cart.CartItems|length > 0 %}
                <form name="form" id="form_cart" method="post" action="{{ url('cart') }}">
                    <div id="cart_item_list" class="cart_item table">
                        <div id="cart_item_list__body" class="tbody">
                            <article class="wrap">
                                {#<section class="cart">#}
                                {% set stocked = true %}
                                {% for CartItem in Cart.CartItems %}
                                    {% set ProductClass = CartItem.Object %}
                                    {% set Product = ProductClass.Product %}
                                    <div id = "cart_product">
                                        <ul>
                                            <li>
                                                <a href="{{ url('cart_remove', {'productClassId': ProductClass.id }) }}" {{ csrf_token_for_anchor() }} data-method="put" data-message="カートから商品を削除してもよろしいですか?">
                                                    削除<i class="fa fa-times" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}" alt="{{ Product.name }}" width="897" height="867" />
                                                </a>
                                            </li>
                                            <li>
                                                <h3 class="item-name">
                                                    <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>
                                                </h3>
                                                <p class="item-model">
                                                    {% for category in Product.getDisplayCategories() %}
                                                        <small>{{ category }}</small>
                                                    {% endfor %}
                                                </p>
                                                <p class="item-price">
                                                    <span class="yen">{{ CartItem.price|number_format }}</span>（税込） / 2週間
                                                </p>
                                                <p class="item-stock">
                                                    <span>在庫：
                                                        {% if ProductClass.stock is null %}
                                                            無制限
                                                        {% else %}
                                                            {{ ProductClass.stock }}
                                                        {% endif %}
                                                    </span>
                                                </p>
                                            </li>
                                            <li>小計<span>{{ CartItem.total_price|number_format }}</span></li>
                                        </ul>
                                        <ol>
                                            <li><span>発送希望日</span> {{ CartItem.rental_date|date('Y年m月d日') }}</li>
                                            <li><span>到着予定日</span> {{ CartItem.achieve_date|date('Y年m月d日') }}</li>
                                            <li><span>返却日</span> {{ CartItem.return_date|date('Y年m月d日') }}</li>
                                        </ol>
                                    </div>
                                    {% if ProductClass.stock is not null and CartItem.quantity > ProductClass.stock %}
                                        {% set stocked = false %}
                                    {% endif %}
                                {% endfor %}
                                {#</section>#}
                            </article>
                        </div>
                    </div><!--/cart_item-->

                    <article class="wrap">
                        <section class="total">
                            <div>
                                <p>お支払い金額</p>
                                <span class="yen">{{ Cart.total_price|number_format }}</span>
                            </div>
                        </section>
                        <section class="go2payment">
                            {% if stocked %}
                                <a class="btn btn-main" href="{{ path('cart_buystep') }}">お会計に進む</a>
                            {% else %}
                                <a class="btn btn-main" href="javascript:;" disabled="disabled">お会計に進む</a>
                            {% endif %}
                        </section>
                    </article>
                </form>
                {% else %}
                <div id="cart_box__message" class="message">
                    <p class="errormsg bg-danger">
                        <svg class="cb cb-warning"><use xlink:href="#cb-warning" /></svg>現在カート内に商品はございません。
                    </p>
                </div>
                {% endif %}
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
{% endblock %}
