{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
<script>
    eccube.classCategories = {{ Product.class_categories|json_encode|raw }};

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }

    {% if form.classcategory_id2 is defined %}
    fnSetClassCategories(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
    );
    {% elseif form.classcategory_id1 is defined %}
          eccube.checkStock(document.form1, {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
    {% endif %}
</script>

<script>
$(function(){

  // ▼王宏博 2017.9.13▼
  $("#notes-check").click(function(){

    if($("#notes-check").prop("checked") && ($(".rental_date_check").hasClass("rental_date_check"))){
      $("#add-cart").prop('disabled', false);
    }else{
      $("#add-cart").prop('disabled', true);
    }
  });
  // ▲王宏博 2017.9.13▲

    $('.carousel').slick({
        infinite: false,
        speed: 300,
        prevArrow:'<button type="button" class="slick-prev"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        nextArrow:'<button type="button" class="slick-next"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            }
        ]
    });

    $('.slides').slick({
        dots: true,
        arrows: false,
        speed: 300,
        customPaging: function(slider, i) {
            return '<button class="thumbnail">' + $(slider.$slides[i]).find('img').prop('outerHTML') + '</button>';
        }
    });

    $('#favorite').click(function() {
        $('#mode').val('add_favorite');
    });
    //▼王宏博 2017.9.13▼
    $('#add-cart').click(function() {
      if($(this).prop("disabled")) {
        if( !( $(".rental_date_check").hasClass("rental_date_check") ) ) {
          alert("発送希望日を選択してください。");
        } else {
          if ( !$("#notes-check").prop("checked") ) {
            alert("注意事項をご確認ください。 ");
          }
        }
        return false;
      } else {
        $('#mode').val('add_cart');
        return true;
      }
    });
    // ▲王宏博 2017.9.13▲

    // bfcache無効化
    $(window).bind('pageshow', function(event) {
        if (event.originalEvent.persisted) {
            location.reload(true);
        }
    });
    //▼王宏博 2017.9.13▼
    $('.inner-box').bind('DOMNodeInserted', function() {
        $("#rental-year").parent().css("background-color","#95de7d");
        $("#achieve-year").parent().css("background-color","#89bdf9");
        $("#return-year").parent().css("background-color","#a28ddd");
        $(".active").css("background","#fff");
        $(".inactive").css("background","#ececec");
        $(".check").css("background","#49f1ff");
        $(".rental_date_check").css("background","#95de7d");
        $(".achieve_date_check").css("background","#89bdf9");
        $(".return_date_check").css("background","#a28ddd");

    });
    // ▲王宏博 2017.9.13▲
});

function rentalDate(td) {
    $.when($("#rental_date").find('td.check').removeClass('check').addClass('active')).then(function () {
        var rental_date = new Date($(td).data('date'));
        var achieve_date = new Date(rental_date);
        achieve_date.setDate(rental_date.getDate() + 2);
        var return_date = new Date(rental_date);
        return_date.setDate(rental_date.getDate() + 14);

        //▼王宏博 2017.9.13▼
        $("input[name='rental_date']").val($(td).data('date'));
        if($("#notes-check").prop("checked")){
            $("#add-cart").prop('disabled', false);
        }else{
            $("#add-cart").prop('disabled', true);
        }
        // ▲王宏博 2017.9.13▲

        var achieve_date_format = achieve_date.getFullYear() + '-' + ('0' + (achieve_date.getMonth() + 1)).slice(-2) + '-' + ('0' + achieve_date.getDate()).slice(-2);
        var deadline = return_date.getFullYear() + '-' + ('0' + (return_date.getMonth() + 1)).slice(-2) + '-' + ('0' + return_date.getDate()).slice(-2);
        $("#rental_date").find('td.active').filter(function () {
//            return $(this).data('date') <= deadline && $(this).data('date') >= $(td).data('date');
            return $(this).data('date') <= deadline && $(this).data('date') >= achieve_date_format;
        }).removeClass('active').addClass('check');


        //▼王宏博 2017.9.13▼

        $("#rental_date").find('td.rental_date_check').removeClass('rental_date_check');
        $("#rental_date").find('td.achieve_date_check').removeClass('achieve_date_check');
        $("#rental_date").find('td.return_date_check').removeClass('return_date_check');

        $("#rental_date").find('td.inactive').removeClass('inactive').addClass("inactive");

        var rental_date_format = rental_date.getFullYear() + '-' + ('0' + (rental_date.getMonth() + 1)).slice(-2) + '-' + ('0' + rental_date.getDate()).slice(-2);
//        $("#rental_date").find('td.check').filter(function () {
        $("#rental_date").find('td').filter(function () {
            return $(this).data('date') == rental_date_format;
        }).addClass('rental_date_check');

        var achieve_date_format = achieve_date.getFullYear() + '-' + ('0' + (achieve_date.getMonth() + 1)).slice(-2) + '-' + ('0' + achieve_date.getDate()).slice(-2);
        $("#rental_date").find('td').filter(function () {
            return $(this).data('date') == achieve_date_format;
        }).addClass('achieve_date_check');

        var return_date_format = return_date.getFullYear() + '-' + ('0' + (return_date.getMonth() + 1)).slice(-2) + '-' + ('0' + return_date.getDate()).slice(-2);
        $("#rental_date").find('td').filter(function () {
            return $(this).data('date') == return_date_format;
        }).addClass('return_date_check');

        // ▲王宏博 2017.9.13▲


        $("#rental-year").text(rental_date.getFullYear() + '年');
        $("#rental-date").text(rental_date.getMonth() + 1 + '月' + rental_date.getDate() + '日');
        $("#achieve-year").text(achieve_date.getFullYear() + '年');
        $("#achieve-date").text(achieve_date.getMonth() + 1 + '月' + achieve_date.getDate() + '日');
        $("#return-year").text(return_date.getFullYear() + '年');
        $("#return-date").text(return_date.getMonth() + 1 + '月' + return_date.getDate() + '日');
    })
}

function addFavorite() {
    $("input[name='rental_date']").val("{{ 'now'|date('Y-m-d') }}");
    return true;
}


</script>

{% endblock %}

{% block main %}
    {# todo ブロック化}
    <div id="topicpath" class="row">
        {% for ProductCategory in Product.ProductCategories %}
        <ol>
            <li><a href="{{ url('product_list') }}">全商品</a></li>
            {% for Category in ProductCategory.Category.path %}
                <li><a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a></li>
            {% endfor %}
            <li>{{ Product.name }}</li>
        </ol>
        {% endfor %}
    </div>
    #}

    <!-- ▼item_detail▼ -->
    <div id="item_detail">
        <div id="detail_wrap" class="row">

            <!-- catch start -->
            {% set pic_num = random(4) + 1 %}
            <article class="contents-catch privacy" style="background:#eee url({{ app.config.front_urlpath }}/img/default/list-catch0{{ pic_num }}.jpg)  repeat scroll 0%;"><!-- ページによってclassを変更 -->
                <section>
                    <div>
                        <h2>KAWASAKI Ninja250<!-- 車体名 --></h2>
                    </div>
                </section>
            </article>
            <!-- catch end -->

            <form action="?" method="post" id="form1" name="form1">
                <!-- contents start -->
                <article class="wrap">
                    <section class="item-detail">
                        <ul>
                            <li id="detail_image_box__slides" class="slides">
                                <div id="item_photo_area" class="col-sm-6">
                                    <div id="detail_image_box__slides" class="slides">
                                        {% if Product.ProductImage|length > 0 %}
                                            {% for ProductImage in Product.ProductImage %}
                                                <div id="detail_image_box__item--{{ loop.index }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt="{{ Product.name }}" width="897" height="867" /></div>
                                            {% endfor %}
                                        {% else %}
                                            <div id="detail_image_box__item"><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" alt="{{ Product.name }}" width="897" height="867" /></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                            <li>
                              <!-- slick slider -->
                            </li>
                            <li>
                                <h3>商品名</h3>
                                <p class="item-name">{{ Product.name }}</p>
                                <h3>適合車種</h3>
                                <p class="item-model">
                                    {% for category in categories %}
                                        <small>{{ category }}</small>
                                    {% endfor %}
                                </p>
                                <h3>レンタル価格</h3>
                                <p class="item-price">
                                    <span class="yen">
                                        <!--★通常価格★-->
                                        {% if Product.hasProductClass -%}
                                            {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
                                                {{ Product.getPrice01IncTaxMin|price }}
                                            {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                                                {{ Product.getPrice01IncTaxMin|price }} ～ {{ Product.getPrice01IncTaxMax|price }}
                                            {% endif %}
                                        {% else -%}
                                            {% if Product.getPrice01Max is not null %}
                                                {{ Product.getPrice01IncTaxMin|price }}
                                            {% endif %}
                                        {% endif -%}

                                        <!--★販売価格★-->
                                        {% if Product.hasProductClass -%}
                                            {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                                {{ Product.getPrice02IncTaxMin|price }}
                                            {% else %}
                                                {{ Product.getPrice02IncTaxMin|price }} ～ {{  Product.getPrice02IncTaxMax|price }}
                                            {% endif %}
                                        {% else -%}
                                            {{ Product.getPrice02IncTaxMin|price }}
                                        {% endif -%}
                                    </span>
                                    税込
                                </p>

                                {% if BaseInfo.option_favorite_product == 1 %}
                                    {% if is_favorite == false %}
                                        <button type="submit" id="favorite" class="btn btn-main" onclick="return addFavorite();">お気に入りに追加</button>
                                    {% else %}
                                        <a class="btn btn-main" disabled="disabled">お気に入りに追加済みです</a>
                                    {% endif %}
                                {% endif %}

                                <a class="btn btn-sub" href="{{ url('contact') }}">お問い合わせ</a>
                            </li>
                        </ul>
                    </section>
                </article>

                <article class="wrap">
                    <section class="calendar">
                        <h3>レンタル希望日を選択（発送希望日を選択してください。商品の到着予定日とレンタル期間と返却日が自動で表示されます。）</h3>
                        <div>
                            <a class="scroll-left" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            <div id="rental_date">
                                <ul>
                                    <!-- class="active"は、選択ができるもの。 class="check"は現在レンタル希望日としてチェックを付けている日 -->
                                    {% for month,days in rental_date %}
                                    <li>
                                        <div class="calendar-box">
                                            <h4>{{ month }}月</h4>
                                            <table>
                                                <tr>
                                                    <th><span>日</span></th>
                                                    <th><span>月</span></th>
                                                    <th><span>火</span></th>
                                                    <th><span>水</span></th>
                                                    <th><span>木</span></th>
                                                    <th><span>金</span></th>
                                                    <th><span>土</span></th>
                                                </tr>
                                                {% for day in days %}
                                                    <tr>
                                                        {% for date in day %}
                                                            <td{% if date['active'] %} class="active" onclick="rentalDate(this);"{% else %} class="inactive" {% endif %}
                                                            {% if date['date'] != '' %} data-date="{{ date['date'] }}"{% endif %}>
                                                                <span>{{ date['day'] }}</span>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a class="scroll-right" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </section>
                </article>
                <article class="wrap">
                    <section class="period">
                        <h3>レンタル期間</h3>
                        <div>
                            <ul>
                                <li>
                                    <div class="inner-box">
                                        <h4>発送希望日</h4>
                                        <span id="rental-year">----年</span>
                                        <span id="rental-date">--月--日</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner-box">
                                        <h4>到着予定日</h4>
                                        <span id="achieve-year">----年</span>
                                        <span id="achieve-date">--月--日</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner-box">
                                        <h4>返却日</h4>
                                        <span id="return-year">----年</span>
                                        <span id="return-date">--月--日</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </article>
                <article class="wrap">
                    <section class="go-next">
                        <div>
                            <input type = "checkbox" id = "notes-check"><a href="#Notes">注意事項</a>をご確認ください。
                            {% if Product.stock_find %}
                                <button class="btn btn-main" type="submit" id="add-cart" disabled="disabled">カートに追加</button>
                            {% else %}
                                <button class="btn btn-main" type="button" disabled="disabled">ただいま品切れ中です</button>
                            {% endif %}
                            <textarea>
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                            </textarea>
                        </div>
                    </section>
                </article>
                {{ form_rest(form) }}
            </form>
            <!--詳細ここまで-->
        </div>

        {# フリーエリア #}
        {% if Product.freearea %}
        <div id="sub_area" class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="detail_free_box__freearea" class="freearea">{{ include(template_from_string(Product.freearea)) }}</div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- ▲item_detail▲ -->
{% endblock %}
