{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
<script>
    eccube.classCategories = {{ Product.class_categories|json_encode|raw }};

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }

    {% if form.classcategory_id2 is defined %}
    fnSetClassCategories(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
    );
    {% elseif form.classcategory_id1 is defined %}
          eccube.checkStock(document.form1, {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
    {% endif %}
</script>

<script>
$(function(){
    $('.carousel').slick({
        infinite: false,
        speed: 300,
        prevArrow:'<button type="button" class="slick-prev"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        nextArrow:'<button type="button" class="slick-next"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            }
        ]
    });

    $('.slides').slick({
        dots: true,
        arrows: false,
        speed: 300,
        customPaging: function(slider, i) {
            return '<button class="thumbnail">' + $(slider.$slides[i]).find('img').prop('outerHTML') + '</button>';
        }
    });

    $('#favorite').click(function() {
        $('#mode').val('add_favorite');
    });

    $('#add-cart').click(function() {
        $('#mode').val('add_cart');
    });

    // bfcache無効化
    $(window).bind('pageshow', function(event) {
        if (event.originalEvent.persisted) {
            location.reload(true);
        }
    });
});
</script>

{% endblock %}

{% block main %}
    {# todo ブロック化}
    <div id="topicpath" class="row">
        {% for ProductCategory in Product.ProductCategories %}
        <ol>
            <li><a href="{{ url('product_list') }}">全商品</a></li>
            {% for Category in ProductCategory.Category.path %}
                <li><a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a></li>
            {% endfor %}
            <li>{{ Product.name }}</li>
        </ol>
        {% endfor %}
    </div>
    #}

    <!-- ▼item_detail▼ -->
    <div id="item_detail">
        <div id="detail_wrap" class="row">

            <!-- catch start -->
            <article class="contents-catch privacy"><!-- ページによってclassを変更 -->
                <section>
                    <div>
                        <h2>KAWASAKI Ninja250<!-- 車体名 --></h2>
                    </div>
                </section>
            </article>
            <!-- catch end -->

            <form action="?" method="post" id="form1" name="form1">
                <!-- contents start -->
                <article class="wrap">
                    <section class="item-detail">
                        <ul>
                            <li>
                                {% if Product.ProductImage|length > 0 %}
                                    {% for ProductImage in Product.ProductImage %}
                                        <div id="detail_image_box__item--{{ loop.index }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt="{{ Product.name }}" width="897" height="867" /></div>
                                    {% endfor %}
                                {% else %}
                                    <div id="detail_image_box__item"><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}" alt="{{ Product.name }}" width="897" height="867" /></div>
                                {% endif %}
                            </li>
                            <li>
                                <h3>商品名</h3>
                                <p class="item-name">{{ Product.name }}</p>
                                <h3>適合車種</h3>
                                <p class="item-model"><small>NINJA250 ［ニンジャ］ 13-15</small><small>NINJA250 ［ニンジャ］ ABS 13-15</small></p>
                                <h3>レンタル価格</h3>
                                <p class="item-price">
                                    <span class="yen">
                                        <!--★通常価格★-->
                                        {% if Product.hasProductClass -%}
                                            {% if Product.getPrice01Min is not null and Product.getPrice01IncTaxMin == Product.getPrice01IncTaxMax %}
                                                {{ Product.getPrice01IncTaxMin|price }}
                                            {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                                                {{ Product.getPrice01IncTaxMin|price }} ～ {{ Product.getPrice01IncTaxMax|price }}
                                            {% endif %}
                                        {% else -%}
                                            {% if Product.getPrice01Max is not null %}
                                                {{ Product.getPrice01IncTaxMin|price }}
                                            {% endif %}
                                        {% endif -%}

                                        <!--★販売価格★-->
                                        {% if Product.hasProductClass -%}
                                            {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                                {{ Product.getPrice02IncTaxMin|price }}
                                            {% else %}
                                                {{ Product.getPrice02IncTaxMin|price }} ～ {{  Product.getPrice02IncTaxMax|price }}
                                            {% endif %}
                                        {% else -%}
                                            {{ Product.getPrice02IncTaxMin|price }}
                                        {% endif -%}
                                    </span>
                                </p>

                                {% if BaseInfo.option_favorite_product == 1 %}
                                    {% if is_favorite == false %}
                                        <button type="submit" id="favorite" class="btn btn-main">お気に入りに追加</button>
                                    {% else %}
                                        <a class="btn btn-main" disabled="disabled">お気に入りに追加済みです</a>
                                    {% endif %}
                                {% endif %}

                                <a class="btn btn-sub" href="#">お問い合わせ</a>
                            </li>
                        </ul>

                        <ol>
                            {% if Product.ProductImage|length > 0 %}
                                {% set checked = true %}
                                {% for ProductImage in Product.ProductImage %}
                                    <li {% if checked %}class="check"{% endif %}><a href="#"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}" alt="{{ Product.name }}" width="897" height="867" /></a></li>
                                    {% set checked = false %}
                                {% endfor %}
                            {% endif %}
                        </ol>
                    </section>
                </article>

                <article class="wrap">
                    <section class="calendar">
                        <h3>レンタル希望日を選択</h3>
                        <div>
                            <a class="scroll-left" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            <div>
                                <ul>
                                    <!-- class="active"は、選択ができるもの。 class="check"は現在レンタル希望日としてチェックを付けている日 -->
                                    {% for month,days in rental_date %}
                                    <li>
                                        <div class="calendar-box">
                                            <h4>{{ month }}月</h4>
                                            <table>
                                                <tr>
                                                    <th><span>日</span></th>
                                                    <th><span>月</span></th>
                                                    <th><span>火</span></th>
                                                    <th><span>水</span></th>
                                                    <th><span>木</span></th>
                                                    <th><span>金</span></th>
                                                    <th><span>土</span></th>
                                                </tr>
                                                {% for day in days %}
                                                    <tr>
                                                        {% for date in day %}
                                                            <td {% if date['active'] %}class="active"{% endif %}><span>{{ date['day'] }}</span></td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a class="scroll-right" href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </section>
                </article>
                <article class="wrap">
                    <section class="period">
                        <h3>レンタル期間</h3>
                        <div>
                            <ul>
                                <li>
                                    <div class="inner-box">
                                        <h4>発送希望日</h4>
                                        2017年<span>8月6日</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner-box">
                                        <h4>到着予定日</h4>
                                        2017年<span>8月6日</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner-box">
                                        <h4>返却日</h4>
                                        2017年<span>8月6日</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </article>
                <article class="wrap">
                    <section class="go-next">
                        <div>
                            <a href="#Notes">注意事項</a>をご確認ください。
                            {% if Product.stock_find %}
                                <button class="btn btn-main" type="submit" id="add-cart">カートに追加</button>
                            {% else %}
                                <button class="btn btn-main" type="button" disabled="disabled">ただいま品切れ中です</button>
                            {% endif %}
                            <textarea>
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                                注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。注意事項の文章を入れる。
                            </textarea>
                        </div>
                    </section>
                </article>
                {{ form_rest(form) }}
            </form>
            <!--詳細ここまで-->
        </div>

        {# フリーエリア #}
        {% if Product.freearea %}
        <div id="sub_area" class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="detail_free_box__freearea" class="freearea">{{ include(template_from_string(Product.freearea)) }}</div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- ▲item_detail▲ -->
{% endblock %}
