{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
<script>
    // 並び順を変更
    function fnChangeOrderBy(orderby) {
        eccube.setValue('orderby', orderby);
        eccube.setValue('pageno', 1);
        eccube.submitForm();
    }

    // 表示件数を変更
    function fnChangeDispNumber(dispNumber) {
        eccube.setValue('disp_number', dispNumber);
        eccube.setValue('pageno', 1);
        eccube.submitForm();
    }
    // 商品表示BOXの高さを揃える
    $(window).load(function() {
        $('.product_item').matchHeight();
    });

    $(function () {
        var displacement = $("#displacement");
        displacement.find('ol:has(span.selected)').show();

        displacement.find('li').mouseover(function () {
            $(this).children('ol').show();
        });

        displacement.mouseleave(function () {
            $(this).find('ol:not(:has(span.selected))').hide();
        })
    })
</script>
{% endblock %}

{% macro tree(Category, selected_id) %}
    <li>
        <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
            <span {% if Category.id == selected_id %}class="selected"{% endif %}>{{ Category.name }}</span>
        </a>
        {% if Category.children|length > 0 %}
            <ol style="display: none;">
                {% for ChildCategory in Category.children %}
                    {{ _self.tree(ChildCategory, selected_id) }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endmacro %}

{% block main %}
{% if search_form.category_id.vars.errors|length == 0 %}
    <form name="form1" id="form1" method="get" action="?">
        {{ form_widget(search_form) }}
    </form>
    <!-- ▼topicpath▼ -->
    <div id="topicpath" class="row">
    </div>
    <!-- ▲topicpath▲ -->
    <div id="result_info_box" class="row">
        <form name="page_navi_top" id="page_navi_top" action="?">
            {% if pagination.totalItemCount > 0 %}
                {% for f in disp_number_form.getIterator %}
                    {% if f.vars.name matches '[^plg*]' %}
                        {{ form_label(f) }}
                        {{ form_widget(f) }}
                        {{ form_errors(f) }}
                    {% endif %}
                {% endfor %}

                {% for f in order_by_form.getIterator %}
                    {% if f.vars.name matches '[^plg*]' %}
                        {{ form_label(f) }}
                        {{ form_widget(f) }}
                        {{ form_errors(f) }}
                    {% endif %}
                {% endfor %}
            {% else %}
            {% endif %}
        </form>
    </div>
    <article class = "wrap">
        <h2>moto-Liv 取り扱い純正マフラー</h2>
        <section class="item-list-wrap">
            <div class="search">
                <h3>メーカーを選択</h3>
                <ul class="maker">
                    {% for Maker in Makers %}
                        <li>
                            <input type="radio" name="maker" id="{{ Maker.name|lower }}" {% if Maker.id == Category.Ancestor.id %}checked{% endif %}>
                            <label for="{{ Maker.name|lower }}">
                                <a href="{{ url('product_list') }}?category_id={{ Maker.id }}">
                                    <img src="{{ app.config.front_urlpath }}/img/default/logo-b-{{ Maker.name|lower }}.png" alt="{{ Maker.kana }}" width="169" height="26" />
                                </a>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                <h3>排気量を選択</h3>
                <ul class="displacement" id="displacement">
                    {% for Displacement in Category.Ancestor.children %}
                        {{ _self.tree(Displacement, Category.id) }}
                    {% endfor %}
                </ul>
            </div>

            <!-- ▼item_list▼ -->
            <div id="item_list">
                {% for Product in pagination %}
                    <div id="result_list_box--{{ Product.id }}" class="col-sm-3 col-xs-6">
                        <div id="result_list__item--{{ Product.id }}" class="product_item">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <div id="result_list__image--{{ Product.id }}" class="item_photo">
                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.MainListImage|no_image_product }}">
                                </div>
                                <dl id="result_list__detail--{{ Product.id }}">
                                    <dt id="result_list__name--{{ Product.id }}" class="item_name">{{ Product.name }}</dt>
                                    {% if Product.description_list %}
                                        <dd id="result_list__description_list--{{ Product.id }}" class="item_comment">{{ Product.description_list|raw|nl2br }}</dd>
                                    {% endif %}
                                    {% if Product.hasProductClass %}
                                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                                            <dd id="result_list__price02_inc_tax--{{ Product.id }}" class="item_price">
                                                {{ Product.getPrice02IncTaxMin|price }}
                                            </dd>
                                        {% else %}
                                            <dd id="result_list__price02_inc_tax--{{ Product.id }}" class="item_price">
                                                {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                                            </dd>
                                        {% endif %}
                                    {% else %}
                                        <dd id="result_list__price02_inc_tax--{{ Product.id }}" class="item_price">{{ Product.getPrice02IncTaxMin|price }}</dd>
                                    {% endif %}
                                </dl>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- ▲item_list▲ -->
        </section>
    </article>

    {% if pagination.totalItemCount > 0 %}
        {% include "pagination.twig" with { 'pages' : pagination.paginationData } %}
    {% endif %}
{% else %}
    <p class="errormsg text-danger">ご指定のカテゴリは存在しません。</p>
{% endif %}
{% endblock %}
