{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
<script>
$(function(){
    $('.main_visual').slick({
        dots: true,
        arrows: false,
        autoplay: true,
        speed: 300
    });
});
</script>
{% endblock %}

{% block main %}
    <article class="top-catch">
        <section>
            <ul>
                <li></li>
            </ul>
        </section>
        <section class="catch-copy">
            <div>
                <h2>今の愛車に乗り続ける為に<br />パーツレンタルという新しい選択肢</h2>
                <a class="btn btn-main" href="{{ url('entry') }}">新規会員登録はこちら</a>
            </div>
        </section>
    </article>

    <article class="wrap"><!-- top-pr -->
        <section class="advance">
            <ul>
                <li><img src="{{ app.config.front_urlpath }}/img/default/logo-l-honda.png" alt="HONDA" width="502" height="412" /></li>
                <li><img src="{{ app.config.front_urlpath }}/img/default/logo-l-yamaha.png" alt="YAMAHA" width="502" height="412" /></li>
                <li><img src="{{ app.config.front_urlpath }}/img/default/logo-l-suzuki.png" alt="SUZUKI" width="502" height="412" /></li>
                <li><img src="{{ app.config.front_urlpath }}/img/default/logo-l-kawasaki.png" alt="KAWASAKI" width="502" height="412" /></li>
            </ul>
        </section>
        <section class="top-pr">
            <div>
                <h2>近日、純正マフラーレンタルサービス開始！マフラーリクエスト受付中！！</h2>
                <strong>
                    サービス開始に当たって、なるべく沢山の純正マフラーを展開予定ですが御入用の純正マフラーがあればmoto-LiVツイッターアカウントへお気軽にリクエスト下さい！<br />
                    ex)車種：「GSX-R1000」年式：「2005年式」フルエキorサイレンサー<br />
                </strong>
                <small>※商品の仕入れ状況によってはご希望に沿えかねる場合があります、ご了承下さい。</small>
            </div>
            <div>
                <img class="tw-qr" src="{{ app.config.front_urlpath }}/img/default/tw-qr.png" alt="QRコード" />
                <div>
                    <!-- twitter start -->
                    <a href="https://twitter.com/intent/tweet?screen_name=moto_LiV&text=%E7%B4%94%E6%AD%A3%E3%83%9E%E3%83%95%E3%83%A9%E3%83%BC%E3%81%AE%E3%83%AC%E3%83%B3%E3%82%BF%E3%83%AB%E3%83%AA%E3%82%AF%E3%82%A8%E3%82%B9%E3%83%88%20%E8%BB%8A%E7%A8%AE%EF%BC%9A%E3%80%8C%E3%80%8D%20%E5%B9%B4%E5%BC%8F%EF%BC%9A%E3%80%8C%E3%80%8D" class="twitter-mention-button" data-size="large" data-related="moto_LiV">Tweet to @moto_LiV</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <!-- twitter end -->
                </div>
            </div>
        </section>
    </article>
{% endblock %}
